
<blockquote class="blockquote">
    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
        <path style="fill:#FFD41D;" d="M261.426,227.735l-22.472-22.473L136.355,307.837l116.843,116.844c7.946,7.946,20.828,7.946,28.774,0  s7.946-20.828,0-28.774l-0.399-0.399c8.166,8.166,21.405,8.166,29.571,0l0,0c8.325-8.325,8.139-21.877-0.411-29.971l-21.788-20.625  l20.01,18.942c9.558,9.048,24.673,8.518,33.574-1.177c8.54-9.303,8.233-23.683-0.696-32.613l-0.065-0.065  c8.857,8.857,23.217,8.857,32.074,0l0,0c7.802-7.802,8.724-19.862,2.798-28.674l-74.578-73.591L261.426,227.735L261.426,227.735z" />

        <path style="fill:#FFFFFF;" d="M276.498,205.708h52.559l19.393-19.393l70.332,70.316l0.003-0.003l-96.674-96.653l-19.393,19.393  h-52.559l-56.563,56.563c-8.576,8.576-8.576,22.48,0,31.057c5.562,5.562,13.36,7.493,20.498,5.841  c0.895-3.867,2.827-7.544,5.841-10.559L276.498,205.708z" />
        <path style="fill:#FF991F;" d="M261.12,230.521l44.913,0.492l67.702,66.805l45.047-41.188l-70.332-70.316l-19.393,19.393h-52.559  l-56.563,56.563c-3.014,3.014-4.946,6.691-5.841,10.559c3.867-0.895,7.545-2.827,10.559-5.841L261.12,230.521z" />

        <circle style="fill:#FFFFFF;" cx="149.46" cy="320.928" r="24.188" />

        <g>
        <circle style="fill:#FF991F;" cx="183.781" cy="355.12" r="24.188" />

        <circle style="fill:#FF991F;" cx="217.842" cy="389.351" r="24.188" />
                                                               						</g>
        <path style="fill:#92E03F;" d="M158.887,107.986L37.794,229.078l32.904,32.904c4.087,4.087,10.716,4.087,14.803,0l106.289-106.289  c4.087-4.087,4.087-10.716,0-14.803L158.887,107.986z" />

        <path style="fill:#0084FF;" d="M423.248,122.559l78.575,78.575l-60.67,60.67c-4.196,4.196-11,4.196-15.196,0l-63.379-63.379  c-4.196-4.196-4.196-11,0-15.196L423.248,122.559z" />

        <path d="M509.07,194.061L414.3,99.29c-3.906-3.905-10.24-3.906-14.148,0c-3.906,3.906-3.906,10.24,0,14.148l87.697,87.696  l-51.274,51.273c-1.571,1.571-4.126,1.571-5.695,0l-101.25-101.249c-1.571-1.57-1.571-4.125,0-5.696l34.411-34.412  c3.906-3.906,3.906-10.24,0-14.147c-3.907-3.906-10.239-3.906-14.148,0l-34.411,34.411c-7.128,7.129-8.818,17.655-5.1,26.412  l-11.638,11.638h-44.877h-3.537h-32.955l-14.682-14.682c0.564-2.058,0.862-4.201,0.862-6.392c0-6.42-2.501-12.456-7.04-16.995  l-33.481-33.481c-3.907-3.906-10.239-3.906-14.148,0c-3.906,3.906-3.906,10.24,0,14.148l33.482,33.481  c1.026,1.026,1.18,2.225,1.18,2.847c0,0.622-0.153,1.821-1.181,2.848l-2.786,2.786l-98.495,98.471  c-0.032,0.032-0.059,0.067-0.09,0.099c-0.998,0.923-2.128,1.073-2.727,1.073c-0.623,0-1.822-0.153-2.848-1.179L24.15,201.114  l88.876-88.875c3.906-3.906,3.906-10.24,0-14.147s-10.238-3.906-14.148,0L2.93,194.041c-3.906,3.906-3.906,10.24,0,14.147  l58.346,58.348c4.687,4.686,10.841,7.028,16.995,7.028c2.826,0,5.646-0.518,8.329-1.507l32.843,32.843  c-2.55,4.784-4,10.237-4,16.025c0,18.853,15.338,34.191,34.191,34.191c0.042,0,0.084-0.003,0.126-0.003c0,0.002,0,0.004,0,0.006  c0,18.811,15.269,34.119,34.064,34.188c0,0.015-0.001,0.029-0.001,0.044c0,18.853,15.338,34.191,34.191,34.191  c5.8,0,11.265-1.456,16.055-4.015l12.227,12.227c5.732,5.732,13.354,8.889,21.46,8.889c8.107,0,15.729-3.157,21.46-8.889  c5.427-5.427,8.546-12.548,8.862-20.171c7.392-0.368,14.678-3.368,20.311-9.002c5.952-5.952,9.166-13.866,9.051-22.282  c0-0.018-0.001-0.035-0.001-0.053c8.703-0.54,16.71-4.354,22.631-10.805c5.951-6.482,8.896-14.656,8.87-22.81  c8.37-0.241,16.201-3.613,22.146-9.559c6.202-6.201,9.603-14.447,9.573-23.218c-0.017-5.164-1.229-10.132-3.49-14.608l32.81-30  c4.115,2.876,8.927,4.335,13.749,4.335c6.154,0,12.309-2.343,16.995-7.027l58.346-58.347  C512.976,204.301,512.976,197.967,509.07,194.061z M302.889,189.372c2.653,0,5.197-1.054,7.073-2.93l13.328-13.328l82.237,82.237  l-31.359,28.674l-60.938-60.131c-0.001-0.001-0.002-0.002-0.003-0.003l-0.088-0.087c-2.25-2.221-5.287-3.151-8.201-2.808  l-43.539-0.477c-2.7-0.02-5.28,1.027-7.183,2.929l-36.467,36.468c-2.259,2.259-5.262,3.502-8.455,3.502s-6.196-1.243-8.455-3.502  c-2.259-2.258-3.502-5.261-3.502-8.455s1.243-6.197,3.502-8.456l53.633-53.633L302.889,189.372L302.889,189.372z M135.45,320.925  c0-7.821,6.363-14.184,14.185-14.184s14.185,6.363,14.185,14.184c0,7.822-6.363,14.185-14.185,14.185S135.45,328.747,135.45,320.925  z M183.95,369.305c-7.821,0-14.184-6.363-14.184-14.185c0-7.822,6.362-14.185,14.184-14.185s14.185,6.363,14.185,14.185  c0,3.623-1.376,6.922-3.619,9.431c-0.407,0.386-0.804,0.781-1.192,1.186C190.82,367.949,187.544,369.305,183.95,369.305z   M203.83,389.352c0-3.623,1.376-6.922,3.619-9.431c0.407-0.386,0.804-0.781,1.192-1.186c2.502-2.212,5.779-3.566,9.373-3.566  c7.821,0,14.185,6.363,14.185,14.185c0,3.836-1.537,7.315-4.019,9.871c-0.046,0.044-0.095,0.082-0.14,0.127  c-0.05,0.05-0.091,0.104-0.139,0.154c-2.557,2.491-6.043,4.032-9.885,4.032C210.193,403.536,203.83,397.173,203.83,389.352z   M366.94,322.927c-2.395,2.394-5.577,3.712-8.963,3.712s-6.568-1.318-8.963-3.711l-20.782-20.783  c-3.906-3.906-10.238-3.906-14.148,0c-3.906,3.906-3.906,10.24,0,14.147l20.781,20.782c0.001,0,0.002,0.001,0.002,0.001l0.063,0.063  c5.157,5.156,5.333,13.402,0.401,18.774c-2.478,2.7-5.859,4.257-9.522,4.385c-3.655,0.135-7.145-1.188-9.805-3.707l-20.011-18.942  c-4.013-3.798-10.344-3.625-14.142,0.388c-3.798,4.012-3.625,10.343,0.387,14.142l21.787,20.625  c2.157,2.042,3.367,4.802,3.408,7.772c0.041,2.97-1.093,5.762-3.193,7.862c-4.251,4.253-11.173,4.252-15.424,0l-10.101-10.101  c-3.907-3.906-10.239-3.906-14.148,0c-1.953,1.954-2.93,4.513-2.93,7.073s0.977,5.121,2.93,7.073l10.5,10.5  c1.954,1.954,3.03,4.551,3.03,7.313c0,2.763-1.076,5.36-3.03,7.313c-1.954,1.954-4.551,3.029-7.313,3.029  c-2.763,0-5.359-1.076-7.313-3.03l-12.235-12.235c2.548-4.782,3.997-10.233,3.997-16.019c0-18.811-15.27-34.119-34.065-34.188  c0-0.015,0.001-0.029,0.001-0.044c0-18.853-15.338-34.191-34.191-34.191c-0.042,0-0.083,0.003-0.125,0.003c0-0.002,0-0.004,0-0.006  c0-18.853-15.338-34.19-34.191-34.19c-5.798,0-11.261,1.455-16.049,4.012l-31.265-31.264l88.44-88.441l15.399,15.4  c1.877,1.876,4.42,2.93,7.073,2.93h12.948l-39.486,39.486c-6.037,6.037-9.361,14.065-9.361,22.603  c0,8.538,3.324,16.565,9.361,22.602c6.037,6.038,14.065,9.362,22.603,9.362c8.538,0,16.566-3.325,22.603-9.362l33.491-33.492  l36.665,0.402l64.825,63.967c2.422,2.39,3.762,5.58,3.772,8.982C370.664,317.322,369.346,320.52,366.94,322.927z" />
        <circle cx="438.336" cy="205.74" r="9.983" />

        <circle cx="72.644" cy="206.74" r="9.983" />
                                                                           
        <circle cx="131.064" cy="82.139" r="9.983" />
                                                                           
        <circle cx="380.757" cy="81.338" r="9.983" />

        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
        <g>
						</g>
		</svg>
    </div>
    <p>Очікуйте на дозвіл адміністратора приєднатися до курсів!</p>
    <footer class="blockquote-footer">Адміністрація порталу.</footer>
</blockquote>