
@{
    ViewData["Title"] = "Немає доступу";
     Layout = "_Layout";
}

    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo text-center"><img src="~/lib/template/images/block.svg"></div>
                <h2 class="text-center text-danger mt-2">У вас немає прав доступу!</h2>
            </div>
        </div>
    </div>