@model EducationPlatform.Models.ViewModels.ForgotPasswordViewModel

@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4>Забули пароль?</h4>
                @if (ViewBag.Error.ToString().Length > 0)
                {
                    <span class="small text-danger">@ViewBag.Error</span>
                }

                <form method="post" class="pt-3" asp-controller="Account" asp-action="ForgotPassword">
                    <div class="form-group">
                        <input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="Email">
                        <span class="small" asp-validation-for="Email"></span>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-block btn-primary font-weight-medium auth-form-btn">Відправити лист</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}