@model EducationPlatform.Models.ViewModels.RegisterViewModel

@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4>Реєстрація</h4>
                <form class="pt-3" method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" type="email" class="form-control form-control-md" id="Email" placeholder="Email">
                                <span class="small" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Номер телефону</label>
                                <input type="text" class="form-control form-control-md" id="phonenumber" placeholder="Номер телефону">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Password">Пароль</label>
                                <input asp-for="Password" type="password" class="form-control form-control-md" id="password" placeholder="Пароль">
                                <span class="small" asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PasswordConfirm">Підтвердження паролю</label>
                                <input asp-for="PasswordConfirm" type="password" class="form-control form-control-md" id="confirmpass" placeholder="Підтвердження паролю">
                                <span class="small" asp-validation-for="PasswordConfirm"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName">Прізвище</label>
                                <input asp-for="LastName" type="text" class="form-control form-control-md" id="lastname" placeholder="Прізвище">
                                <span class="small" asp-validation-for="LastName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName">Ім'я</label>
                                <input asp-for="FirstName" type="text" class="form-control form-control-md" id="firstname" placeholder="Ім'я">
                                <span class="small" asp-validation-for="FirstName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MiddleName">По батькові</label>
                                <input asp-for="MiddleName" type="text" class="form-control form-control-md" id="fathername" placeholder="По батькові">
                                <span class="small" asp-validation-for="MiddleName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="University">Університет</label>
                                <input asp-for="University" type="text" class="form-control form-control-md" id="university" placeholder="Університет">
                                <span class="small" asp-validation-for="University"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Faculty" for="faculty">Факультет</label>
                                <input asp-for="Faculty" type="text" class="form-control form-control-md" id="faculty" placeholder="Факультет">
                                <span class="small" asp-validation-for="Faculty"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StudyYear">Курс</label>
                                <select asp-for="StudyYear" class="form-control text-dark" id="sel1">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <span class="small" asp-validation-for="StudyYear"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Skills">Навички</label>
                                <textarea asp-for="Skills" class="form-control form-control-lg" rows="2" id="skils" placeholder="Навички"></textarea>
                                <span class="small" asp-validation-for="Skills"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" id="checkboxAgree" class="form-check-input">
                                        Я погоджуюся з усіма умовами
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 mt-3 text-center">
                        <button type="submit" id="register" disabled class="btn btn-primary font-weight-medium auth-form-btn mb-4">Зареєструватися</button>
                    </div>
                    <div class="col-md-12 text-center mt-4 font-weight-light">
                        Вже маєте акаунт? <a href="@Url.Action("Login", "Account")" class="text-primary">Увійти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/filterRegister.js"></script>
}
@*<h2>Register</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </form>*@