
@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-3 px-4 px-sm-5">
                <div class="text-center">
                    <img src="~/lib/template/images/Logo EP.svg" alt="logo">
                </div>
                <h2 class="text-center">Вітаємо!</h2>
                <h4 class="text-center">Ви успішно зареєстровані!</h4>
                <p class="text-center">На ваш e-mail надіслано посилання для активації аккаунту, перейдійть до вашої поштової скриньки</p>
            </div>
        </div>
    </div>
</div>

