@model EducationPlatform.Models.ViewModels.ResetPasswordViewModel;
@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4>Відновити пароль</h4>
                <form method="post" class="pt-3" asp-controller="Account" asp-action="ResetPassword">
                    @if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
                    {
                    <div class="validation-summary-errors">
                        <ul>
                            @foreach (var item in ViewBag.Errors)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                    }

                    @Html.HiddenFor(x => x.Email)
                    @Html.HiddenFor(x => x.Code)
                    <div class="form-group">
                        Ваш Email: <span class="font-weight-bold">@Model.Email</span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Новий пароль...">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Підтвердіть пароль...">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-block btn-primary font-weight-medium auth-form-btn">Відновити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}